.navbar-default {
  background-color: transparent;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
  height: 100px;
  margin: 0; }
  .navbar-default .navbar-nav li {
    border-bottom: 3px solid transparent; }
  .navbar-default .navbar-nav li:hover {
    background-color: #f8f9fb;
    border-bottom: 3px solid #49cbcd;
    color: #49cbcd; }
  .navbar-default .navbar-nav li a {
    line-height: 100px;
    font-family: 'Open Sans', sans-serif;
    color: #484c55;
    font-size: 15px; }
  .navbar-default .navbar-brand img {
    display: block;
    padding: 30px 0; }

.carousel-caption h1 {
  font-size: 63px;
  line-height: 64px;
  margin: 0;
  padding: 0; }
.carousel-caption p {
  font-size: 23px;
  padding-bottom: 60px; }

.carousel-control.right {
  background-image: none;
  text-shadow: none;
  background-color: #ffffff;
  opacity: 1;
  width: 50px;
  height: 50px;
  color: #49cbcd;
  top: 50%;
  margin-top: -25px;
  right: 28px;
  border-radius: 25px;
  line-height: 50px;
  text-align: center; }
.carousel-control.left {
  background-image: none;
  text-shadow: none;
  background-color: #ffffff;
  opacity: 1;
  width: 50px;
  height: 50px;
  color: #49cbcd;
  top: 50%;
  margin-top: -25px;
  right: 28px;
  border-radius: 25px;
  line-height: 50px;
  text-align: center;
  left: 28px; }
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  font-size: 20px;
  width: 20px;
  height: 20px; }

.btn-secondary {
  border: 3px solid white;
  background-color: transparent;
  color: white;
  font-size: 26px;
  margin-bottom: 70px;
  padding: 19px 42px;
  border-radius: 5px;
  display: inline-block; }

.sec-white {
  background-clip: white;
  padding-top: 106px;
  padding-bottom: 80px; }
  .sec-white h2 {
    text-align: center;
    font-size: 42px;
    color: #4e525d;
    margin-bottom: 135px;
    font-family: 'Open Sans', sans-serif; }

.circle {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background-color: #eeeef0;
  border-radius: 100px;
  position: relative;
  margin-bottom: 70px; }
  .circle img {
    display: block;
    width: 100%; }
  .circle:after {
    content: "+";
    position: absolute;
    font-size: 45px;
    color: #f46d6d;
    top: 38%;
    line-height: 45px;
    text-align: center;
    width: 200px;
    left: 0;
    opacity: 0;
    transition: 0.3s; }
  .circle:hover:after {
    opacity: 1; }

.col-md-3 h3 {
  padding: 0;
  margin: 0;
  font-size: 22px;
  color: #4e525d;
  margin-bottom: 35px;
  font-family: 'Open Sans', sans-serif; }
  .col-md-3 h3 span {
    font-size: 14px;
    display: block;
    margin-top: 13px; }
.col-md-3 p {
  font-size: 14px;
  color: #4e525d;
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px; }

.grey {
  background-color: #f1f1f1;
  padding-top: 119px;
  padding-bottom: 80px; }
  .grey ul {
    list-style: none;
    text-align: center;
    display: block; }
  .grey li {
    border-bottom: solid 1px #ecf0f1;
    line-height: 45px;
    background-color: #fff;
    font-size: 14px;
    color: cadetblue; }
    .grey li:first-child {
      background-color: #485460;
      line-height: 75px;
      color: #fff;
      font-size: 25px;
      border-bottom: none; }
    .grey li:nth-child(2) {
      background-color: white;
      line-height: 75px;
      color: #0c5460;
      font-size: 20px; }
    .grey li a:last-child {
      background-color: #788492;
      padding: 12px 49px 16px 49px;
      border-radius: 5px;
      color: white;
      font-size: 17px;
      text-decoration: none; }
    .grey li:last-child {
      background-color: #f8f9fb;
      line-height: 100px; }
  .grey .blue ul li:first-child, .grey .blue ul li a {
    background-color: #49cbcd; }

footer {
  background: url("../images/Layer-28.png") no-repeat top center;
  background-size: cover;
  padding-bottom: 36px; }
  footer h2 {
    padding-top: 109px;
    padding-bottom: 118px;
    text-align: center;
    font-size: 42px;
    color: white;
    margin: 0; }

.col-md-6 h3 {
  margin: 0;
  color: white;
  font-size: 24px; }
.col-md-6 p {
  color: #a6a6a6;
  font-size: 14px; }

.social {
  padding-top: 43px; }
  .social a {
    padding-right: 15px; }

.contacts {
  display: block;
  padding-top: 22px; }
  .contacts p {
    color: #726885;
    font-size: 14px; }

input {
  width: 100%;
  margin-right: 29px; }

.message {
  display: block;
  margin-top: 30px; }

.btn {
  margin-top: 30px;
  line-height: 50px;
  padding: 0 65px 0 55px;
  font-size: 22px; }

/*# sourceMappingURL=style.css.map */
